<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anomalies</title>
    <style>
        .table {
            width: 100%;
            margin-bottom: 20px;
            border: 5px solid #fff;
            border-top: 5px solid #fff;
            border-bottom: 3px solid #fff;
            border-collapse: collapse;
            outline: 3px solid #ffd300;
            font-size: 15px;
            background: #fff !important;
        }

        .table th {
            font-weight: bold;
            padding: 7px;
            background: #ffd300;
            border: none;
            text-align: left;
            font-size: 15px;
            border-top: 3px solid #fff;
            border-bottom: 3px solid #ffd300;
        }

        .table td {
            display: table-cell;
            vertical-align: middle;
            padding: 7px;
            border: none;
            border-top: 3px solid #fff;
            border-bottom: 3px solid #fff;
            font-size: 15px;
        }

        .table tbody tr:nth-child(even) {
            background: #f8f8f8 !important;
        }
    </style>
</head>
<body>
<form action="/main">
    <button type="submit">Назад</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Status</th>
        {{#fEanomalies}}
            <th>Type</th>
            <th>Hazard Level</th>
        {{/fEanomalies}}
        <th>Flight Radius</th>
        <th>X Coordinates</th>
        <th>Y Coordinates</th>
        {{#fEanomalies}}
            <th>Туристический вылет</th>
        {{/fEanomalies}}
        {{#fUanomalies}}
            <th>Экспедиция</th>
        {{/fUanomalies}}
    </tr>
    </thead>
    <tbody>
    {{#anomalies}}
        <tr>
            <td>{{id}}</td>
            <td>{{status}}</td>
            {{#fEanomalies}}
                <td>{{type}}</td>
                <td>{{hazardLevel}}</td>
            {{/fEanomalies}}
            <td>{{flightRadius}}</td>
            <td>{{coordinates.x}}</td>
            <td>{{coordinates.y}}</td>
            {{#fEanomalies}}
                <td>
                    <form action="/createTour" method="GET">
                        <label>
                            Цена билета:
                            <input type="text" name="ticketMoney">
                        </label>
                        <br>
                        <button type="submit" name="id" value="{{id}}">Создать вылет</button>
                    </form>
                </td>
            {{/fEanomalies}}
            {{#fUanomalies}}
                <td>
                    <form action="/createExplore" method="GET">
                        <br>
                        <button type="submit" name="id" value="{{id}}">Создать экспедицию</button>
                    </form>
                </td>
            {{/fUanomalies}}
        </tr>
    {{/anomalies}}
    </tbody>
</table>
</body>
</html>