<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anomalies</title>
    <style>
        .table {
            width: 100%;
            margin-bottom: 20px;
            border: 5px solid #fff;
            border-top: 5px solid #fff;
            border-bottom: 3px solid #fff;
            border-collapse: collapse;
            outline: 3px solid #ffd300;
            font-size: 15px;
            background: #fff !important;
        }

        .table th {
            font-weight: bold;
            padding: 7px;
            background: #ffd300;
            border: none;
            text-align: left;
            font-size: 15px;
            border-top: 3px solid #fff;
            border-bottom: 3px solid #ffd300;
        }

        .table td {
            padding: 7px;
            border: none;
            border-top: 3px solid #fff;
            border-bottom: 3px solid #fff;
            font-size: 15px;
        }

        .table tbody tr:nth-child(even) {
            background: #f8f8f8 !important;
        }
    </style>
</head>
<body>
<form action="/main">
    <button type="submit">Назад</button>
</form>
<table class="table">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Age</th>
        <th>Type</th>
        <th>Status</th>
        <th>Salary</th>
        <th>Profession</th>
        <th>Create Phantom</th>
    </tr>
    </thead>
    <tbody>
    {{#humans}}
        <tr>
            <td>{{id}}</td>
            <td>{{fullName}}</td>
            <td>{{age}}</td>
            <td>{{type}}</td>
            <td>{{status}}</td>
            <td>{{salary}}</td>
            <td>{{profession}}</td>
            <td>
                <form action="/createPhantom" method="GET">
                    <br>
                    <button type="submit" name="id" value="{{id}}">Создать фантома</button>
                </form>
            </td>
        </tr>
    {{/humans}}
    </tbody>
</table>
</body>
</html>