<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anomalies</title>
</head>
<body>
<form action="/exploredAnomaly">
    <button>Посмотреть изученные аномалии</button>
</form>



</body>
</html>