<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
</head>
<body>

<form action="/Anomalies" method="GET">
    <label>
        <select name="type" id="selector">
            <option disabled>Выберите тип аномалии</option>
            <option value="Explored">Изученный</option>
            <option value="Unexplored">Неизученный</option>
        </select>
    </label>
    <button type="submit">Список аномалий</button>
</form>
<form action="/flights" method="GET">
    <button type="submit" >Список вылетов</button>
</form>

</body>
</html>