<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Anomalies</title>
    <style>
        .table {
            width: 100%;
            margin-bottom: 20px;
            border: 5px solid #fff;
            border-top: 5px solid #fff;
            border-bottom: 3px solid #fff;
            border-collapse: collapse;
            outline: 3px solid #ffd300;
            font-size: 15px;
            background: #fff !important;
        }

        .table th {
            font-weight: bold;
            padding: 7px;
            background: #ffd300;
            border: none;
            text-align: left;
            font-size: 15px;
            border-top: 3px solid #fff;
            border-bottom: 3px solid #ffd300;
        }

        .table td {
            padding: 7px;
            border: none;
            border-top: 3px solid #fff;
            border-bottom: 3px solid #fff;
            font-size: 15px;
        }

        .table tbody tr:nth-child(even) {
            background: #f8f8f8 !important;
        }
    </style>
</head>
<body>
<form action="/flights">
    <button type="submit">Назад</button>
</form>
{{#nflag}}
    Отчет еще не создан
{{/nflag}}

{{#flag}}
<table class="table">
    <thead>
    <tr>
        <td>ID</td>
        <td>Author Name</td>
        <td>Author Age</td>
        <td>successful</td>
        <td>Type</td>
        <td>HazardLevel</td>
        <td>FlightRadius</td>
    </tr>
    </thead>
    <tbody>
    {{#report_by_id}}
        <tr>
            <td>{{id}}</td>
            <td>
                {{author.fullName}}
            </td>
            <td>
                {{author.age}}
            </td>
            <td>{{successful}}</td>
            <td>{{anomalyType}}</td>
            <td>{{anomalyHazardLevel}}</td>
            <td>{{anomalyFlightRadius}}</td>
        </tr>
    {{/report_by_id}}
    </tbody>
</table>
{{/flag}}
</body>
</html>