<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report Anomalies</title>
</head>
<body>
<form action="/newTourFlight" method="GET">
    <label>
        <input type="text" name="ticketMoney" value="Цена билета">
    </label>
</form>
</body>
</html>